<ul class="list-group-item" [ngClass]="{
  'negativeLoveIts' : post.loveIts < 0, 
  'positiveLoveIts' : post.loveIts > 0}">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="title">{{ post.title }}</div>
      </div>
      <div class="col-4">
        <div class="date">{{ post.created_at | date:'short' | uppercase }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">{{ post.content }}</div>
      </div>
    </div>
    <button class="btn btn-default pull-right" (click)="onDeletePost(post)">
      <span class="glyphicon glyphicon-minus"></span>
    </button>

    <div class="row">
      <div class="col-12">
        <button class="btn btn-success" (click)="loveIt(true)">Love it!</button>
        <button class="btn btn-danger" (click)="loveIt(false)">Don't love it!</button>
      </div>

    </div>
  </div>
</ul>